{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}Advanced Settings - NexT Documentation{% endblock %}
{% block pageName %}advanced-settings{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-rocket fa"></i> Advanced Settings
{% endblock %}


{% block pageContent %}
  <p>
    Except for regular <a href="/theme-settings.html">Theme Settings</a> and <a href="/third-party-services.html">Third-party Services</a>,
    NexT also provides more advanced settings to make it more customizable.
    Please be awared, these settings may influence normal functionalities of NexT; learn about the mechanics of those settings before tuning them.
  </p>
  <section data-fodling="javascript-vendors">
    <h2 id="javascript-vendors" class="page-header">Setting "JavaScript third-party libraries vendors"</h2>

    <div class="bs-callout bs-callout-warning">
      <strong>Caution：</strong>
      This feature is introduced in version <span class="label label-success">5.0.1</span>,
      please confirm your NexT is later than this version before using this functionality.
    </div>

    <p>
      Setting appropriate CDN addresses. This feature helps boost static resources (third-party JavaScript libraries) loading.
      NexT currently includes the following third-party JavaScript dependencies:
    </p>
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Official Site</th>
          <th>Version in Use by NexT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>jQuery</td>
          <td><a href="http://jquery.com/" target="_blank">http://jquery.com/</a></td>
          <td>2.1.3</td>
        </tr>
        <tr>
          <td>Fancybox</td>
          <td><a href="http://fancyapps.com/fancybox/" target="_blank">http://fancyapps.com/fancybox/</a></td>
          <td>2.1.5</td>
        </tr>
        <tr>
          <td>FastClick</td>
          <td><a href="https://github.com/ftlabs/fastclick" target="_blank">https://github.com/ftlabs/fastclick</a></td>
          <td>1.0.6</td>
        </tr>
        <tr>
          <td>jQuery LazyLoad</td>
          <td><a href="https://github.com/tuupola/jquery_lazyload" target="_blank">https://github.com/tuupola/jquery_lazyload</a></td>
          <td>2.1.5</td>
        </tr>
        <tr>
          <td>VelocityJS</td>
          <td><a href="http://julian.com/research/velocity/" target="_blank">http://julian.com/research/velocity/</a></td>
          <td>1.2.1</td>
        </tr>
        <tr>
          <td>VelocityJS UI Pack</td>
          <td><a href="http://julian.com/research/velocity/#uiPack" target="_blank">http://julian.com/research/velocity/#uiPack</a></td>
          <td>1.2.1</td>
        </tr>
        <tr>
          <td>UAParser.js</td>
          <td><a href="https://faisalman.github.io/ua-parser-js/" target="_blank">https://faisalman.github.io/ua-parser-js/</a></td>
          <td>0.7.9</td>
        </tr>
        <tr>
          <td>FontAwesome</td>
          <td><a href="http://fontawesome.io/" target="_blank">http://fontawesome.io/</a></td>
          <td>4.4.0</td>
        </tr>
      </tbody>
    </table>

    <p>
      This set of configuration is contained in <span class="label label-info">Theme Configuration</span> with key as <code>vendors</code>.
      Inside it <code>_internal: vendors</code> is used to specify the internal path prefix used by NexT and need not be changed in most cases.
      Following this there's settings for each library; if left empty, integrated script files in NexT will be used.
      Each configuration states in a key-value pair form like <code>library-name: CDN address</code>, e.g.,
    </p>

    {% code "yml" %}
    jquery: //cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js
    {% endcode %}

    <p>"Internal version" indicates internally used and tested version by NexT. If you are trying to use other versions, thorough tests might be required to make sure that version works fine.</p>

    <div class="next-docs-example">Setting Examples</div>
    {% code "yml" %}
    vendors:
      # Internal path prefix. Please do not edit it.
      _internal: vendors

      # Internal version: 2.1.3
      jquery: //cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js

      # Internal version: 2.1.5
      # Fancybox: http://fancyapps.com/fancybox/
      fancybox: //cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js
      fancybox_css: //cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.min.css

      # Internal version: 1.0.6
      fastclick: //cdn.jsdelivr.net/fastclick/1.0.6/fastclick.min.js

      # Internal version: 1.9.7
      lazyload: //cdn.jsdelivr.net/jquery.lazyload/1.9.3/jquery.lazyload.min.js

      # Internal version: 1.2.1
      velocity: //cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js

      # Internal version: 1.2.1
      velocity_ui: //cdn.jsdelivr.net/velocity/1.2.3/velocity.ui.min.js

      # Internal version: 0.7.9
      ua_parser: //cdn.jsdelivr.net/ua-parser.js/0.7.10/ua-parser.min.js

      # Internal version: 4.4.0
      # http://fontawesome.io/
      fontawesome: //maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css

      # Internal version: 1
      # https://www.algolia.com
      algolia_instant_js:
      algolia_instant_css:

      # Internal version: 1.0.0
      # https://github.com/hustcc/canvas-nest.js
      canvas_nest:

      # Internal version: r84
      # https://github.com/mrdoob/three.js/releases
      three: 

      # Internal version: 1.0.0
      # https://github.com/jjandxa/three_waves
      three_waves: 
    {% endcode %}

  </section>
{% endblock %}

{% block pageSidebar %}
  <ul>
    <li><a href="#javascript-vendors">Setting "JavaScript third-party libraries vendors"</a></li>
  </ul>
{% endblock %}
