{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}FAQs - NexT Documentation{% endblock %}
{% block pageName %}faqs{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-life-ring fa"></i> FAQs
{% endblock %}


{% block pageContent %}
  <p>
    Here lists most commonly asked questions in NexT Issues by our users. If you fail to find corresponding solution to your problem,
    please refer to <a href="https://github.com/iissnan/hexo-theme-next/issues" target="_blank">NexT Issues</a> and submit your issue.
  </p>


  <section data-folding="read-more">
    <h2 id="read-more" class="page-header">How to setup "Read more →"?</h2>
    <p>
      Showing part of the content of a post in navigation page and provide a link to full content is a common used method in blogs.
      NexT provides three methods for tuning how posts are showed in mainpage.
      So, to make the <strong>Read more →</strong> button after the abstract of a post, you can follow one of the following:
    </p>
    <ol>
      <li>
        Use <code>&lt;!-- more --&gt;</code> to mark before which there's the starting part that's expected to be shown.
        This is the method Hexo is providing support.
        <span class="label label-success">Recommanded</span>
      </li>
      <li>
        Add <code>description</code> in <a href="https://hexo.io/docs/front-matter.html" target="_blank" rel="external">front-matter</a>
        and provide abstract for that page.
      </li>
      <li>
        <p>Generate abstract for the post automatically. Add below code in <span class="label label-info">Theme Configuration</span></p>
        {% code "yml" %}
          auto_excerpt:
            enable: true
            length: 150
        {% endcode %}
        <p>
          As in above configuration, it uses the starting <code>150</code> characters for showing abstract;
          you can adjust it to meet your need.
        </p>
      </li>
    </ol>
    <div class="bs-callout bs-callout-info">
      The <code>&lt;!-- more --&gt;</code> method is recommanded (a.k.a. the first one). While this method provides you capability for
      controlling over the abstract, it's also better for plugins of Hexo to recognize.
    </div>
  </section>


  <section data-folding="favicon">
    <h2 id="favicon" class="page-header">Favicon does not apply after setting?</h2>
    <p>Follow the instruction in <span class="label label-info">Theme Configuration</span>, as below:</p>
    {% code "yml"%}
      # To get or check favicons visit: https://realfavicongenerator.net
      # Put your favicons into `hexo-site/source/` (recommend) or `hexo-site/themes/next/source/images/` directory.

      # Default NexT favicons placed in `hexo-site/themes/next/source/images/` directory.
      # And if you want to place your icons in `hexo-site/source/` root directory, you must remove `/images` prefix from pathes.

      # For example, you put your favicons into `hexo-site/source/images` directory.
      # Then need to rename & redefine they on any other names, otherwise icons from Next will rewrite your custom icons in Hexo.
      favicon:
        small: /images/favicon-16x16-next.png
        medium: /images/favicon-32x32-next.png
        apple_touch_icon: /images/apple-touch-icon-next.png
        safari_pinned_tab: /images/logo.svg
        #android_manifest: /images/manifest.json
        #ms_browserconfig: /images/browserconfig.xml
    {% endcode %}
    <p>That's to say, you can simply place your favicon in <code>hexo-site/source</code> and change the favicon configuration to</p>
    {% code "yml"%}
      favicon:
        small: /favicon-16x16-next.png
        medium: /favicon-32x32-next.png
        apple_touch_icon: /apple-touch-icon-next.png
        safari_pinned_tab: /logo.svg
        #android_manifest: /manifest.json
        #ms_browserconfig: /browserconfig.xml
    {% endcode %}
  </section>


  <section data-folding="custom-font">
    <h2 id="custom-font" class="page-header">How to customize fonts?</h2>
    <p>
      Since version <strong>5.0.1</strong>, NexT provides a new feature on<a href="/theme-settings.html#fonts-customization">fonts customization</a>.
      Please check for this feature before deciding to make the changes below;
      making the following changes will overwrite the "fonts customization" configuration.
    </p>
    <p>You can modify <code>source/css/_variables/custom.styl</code> in NexT theme directory and add the following:</p>
    {% code "styl" %}
      // Font families for heading texts
      $font-family-headings = Georgia, sans

      // Base font families
      $font-family-base = "Microsoft YaHei", Verdana, sans-serif

      // Font families for codes
      $code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

      // Font size for normal text
      $font-size-base = 16px

      // Font size for codes
      $code-font-size = 13px
    {% endcode %}
  </section>


  <section data-folding="custom-content-width">
    <h2 id="custom-content-width" class="page-header">How to alter the width of content?</h2>
    <p>NexT defaults the width according to following rules:</p>
    <ul>
      <li>700px when screen width less than 1600px .</li>
      <li>900px when screen width more than or equal to 1600px.</li>
      <li>Self-adjusted on mobile devices.</li>
    </ul>
    <p>
      If you want to alter this config, you'll need to modify the styles source.
      Modify file <code>source/css/_variables/custom.styl</code> in NexT theme directory and add the following:
    </p>
    {% code "styl" %}
      // Change to expected content width when screen narrower than 1600px
      $content-desktop = 700px

      // Change to expected content width when screen wider than 1600px
      $content-desktop-large = 900px
    {% endcode %}
    <p class="bs-callout bs-callout-warning">
      This method does not apply to Pisces Scheme. To modify the content width of Pisces Scheme, please refer to
      <a href="https://github.com/iissnan/hexo-theme-next/issues/759#issuecomment-202242848">this issue</a>.
    </p>
  </section>

  <section data-fodling="setting-menu">
    <h2 id="setting-menu" class="page-header">Why newly created menu items shows as Menu.xxx</h2>
    <p>
      NexT makes use of Hexo's I18n functionality, thus the provided value in menu configuration is not used directly
      in UI presenting but a key to the actual text as in the language file.
      When rendering, NexT will look for the language file and replace the key with found corresponding value.
    </p>

    <p>
      Take the <code>menu.home</code> configuration as an example.
      It's set to <code>home: /</code> (ignoring icon) in <span class="label label-info">Theme Configuration</span>,
      in which the key for localized entry is <code>home</code>. In different languages, this key maps to different text:
    </p>
    {% code "yml"%}
      # zh-Hans in language file `languages/zh-Hans.yml`
      menu:
        home: 首页

      # en in language file `languages/en.yml`
      menu:
        home: Home
    {% endcode %}

    <p>
      Thus, if you want to add an new item in the menu,
      you'll have to add an entry in the language file for at least your <strong>current language</strong>.
    </p>

    <p class="bs-callout bs-callout-success">
      For configuring menu items, see <a href="/getting-started.html#menu-settings">menu settings</a>.
    </p>
  </section>

  <section data-folding="count-incorrect-for-tags-categories">
    <h2 id="count-incorrect-for-tags-categories" class="page-header">Tags/Categories count not accurate?</h2>
    <p>
      Since Hexo have abilities for caching the site, you may sometimes face with inaccurate counters in Tags and Categories pages.
      If you're facing with this problem, you can follow these steps to regenerate the site:
    </p>
    <ol>
      <li>Delete <code>db.json</code> placed under the root directory of your site.</li>
      <li>Execute command <code>hexo clean</code> in your site repo to clean everything up.</li>
      <li>Execute command <code>hexo generate</code> in your site repo to generate site.</li>
    </ol>
    <p>After finishing these steps, you may launch a server locally for test.</p>
  </section>


  <section data-fodling="incorrect-language">
    <h2 id="incorrect-language" class="page-header">Why the language in use is not what I expecting?</h2>
    <p>
      If the value of <code>language</code> is not set or is set to <code>language: default</code>,
      unexpected language might be chosen. To make sure your primary language shows in the site,
      you need to explicitly set your language.
      To do this, edit <span class="label label-primary">Site Configuration</span> and set <code>language</code>
      entry to your primary language. E.g., to set language as English:
    </p>
    {% code "yml" %}language: en{% endcode %}
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Language</th>
        <th>Corresponded Language Name</th>
      </tr>
      </thead>
      <tr>
        <td>English</td>
        <td><code>en</code></td>
      </tr>
      <tr>
        <td>简体中文</td>
        <td><code>zh-Hans</code></td>
      </tr>
      <tr>
        <td>Français</td>
        <td><code>fr-FR</code></td>
      </tr>
      <tr>
        <td>繁體中文</td>
        <td><code>zh-hk</code>/<code>zh-tw</code></td>
      </tr>
      <tr>
        <td>Русский язык</td>
        <td><code>ru</code></td>
      </tr>
      <tr>
        <td>Deutsch</td>
        <td><code>de</code></td>
      </tr>
      <tr>
        <td>Português</td>
        <td><code>pt</code></td>
      </tr>
      <tr>
        <td>日本語</td>
        <td><code>ja</code></td>
      </tr>
    </table>
  </section>


  <section data-fodling="incorrect-language">
    <h2 id="setting-page-comments" class="page-header">How to disable comments in new posts?</h2>
    <p>
      When integrated some comment system like Disqus, all newly added post will have comments enabled.
      If you don't want this in some post, add an <code>comments: false</code> entry in the front-matter of the post. For example,
    </p>
    {% code "md" %}
      title: All tags
      date: 2015-12-16 17:05:24
      type: "tags"
      comments: false
      ---
    {% endcode %}
  </section>


  <section data-fodling="incorrect-language">
    <h2 id="setting-page-size" class="page-header">How to set posts per page in the pages?</h2>
    <p>
      In Hexo we can set posts per page apparently for <code>home</code>, <code>archive</code> and <code>tags</code> pages.
      However, this will need extra Hexo plugins. Follow instructions below:
    </p>
    <ol>
      <li>
        <p>Execute <code>npm install --save</code> commands to install required hexo plugins.</p>
        {% code %}
          npm install --save hexo-generator-index
          npm install --save hexo-generator-archive
          npm install --save hexo-generator-tag
        {% endcode %}
      </li>
      <li>
        <p>After plugins installed, add the following settings in <span class="label label-primary">Site Configuration</span>:</p>
        {% code "yml" %}
          index_generator:
            per_page: 5

          archive_generator:
            per_page: 20
            yearly: true
            monthly: true

          tag_generator:
            per_page: 10
        {% endcode %}

        <code>per_page</code> specifies posts per page expected to be shown.
      </li>
    </ol>
    <p class="bs-callout bs-callout-warning">
      Caution: Hexo 3.2 does not allow duplicate entrys in configuration files.
      So check for previously existing settings in <span class="label label-primary">Site Configuration</span> before adding those entries.
      If there is such setting entries, you'll need to merge your new settings into those manually.
    </p>
  </section>


  <section data-fodling="incorrect-language">
    <h2 id="optimize" class="page-header">How to compress NexT files?</h2>
    <p>
      NexT does not compress its HTML, JavaScript and CSS files. If you do care about this, please refer to
      <a href="https://github.com/iissnan/hexo-theme-next/issues?utf8=%E2%9C%93&q=+label%3AOptimization">
        solutions by others.
      </a>。
    </p>
  </section>

  <section data-fodling="module-not-found">
    <h2 id="module-not-found" class="page-header">Cannot find module XXX</h2>
    <p>
      NexT's tags plugin makes use of several submodules of Hexo, e.g. <code>hexo-util</code>.
      NPM introduced new module installation mechanics since version 3, which is relied on by NexT.
      That's to say, you'll face with this problem if you're using NPM of versions previous to 3.
      Once this error occurred, check your NPM version with <code>npm -v</code> first.
    </p>
    <ul>
      <li>
        Error occurs with version later than 3:
        Remove <code>node_module</code> directory first, then execute <code>npm install</code> to reinstall NPM modules.
      </li>
      <li>
        Error occurs with version previous to 3:
        Update your NPM, or execute command <code>npm install --save hexo-util</code> to add dependencies manually.
        <code>hexo-util</code> is only an example, you'll need to replace it with all the modules missing, as is reported in the error message.
      </li>
    </ul>
  </section>

{% endblock %}


{% block pageSidebar %}
  <ul>
    <li><a href="#read-more">How to setup "Read more →"?"?</a></li>
    <li><a href="#favicon">Favicon does not apply after setting??</a></li>
    <li><a href="#custom-font">How to customize fonts?</a></li>
    <li><a href="#custom-content-width">How to alter the width of content?</a></li>
    <li><a href="#setting-menu">Why newly created menu items shows as Menu.xxx</a></li>
    <li><a href="#count-incorrect-for-tags-categories">Tags/Categories count not accurate?</a></li>
    <li><a href="#incorrect-language">Why the language in use is not what I expecting?</a></li>
    <li><a href="#setting-page-comments">How to disable comments in new posts?</a></li>
    <li><a href="#setting-page-size">How to set posts per page in the pages?</a></li>
    <li><a href="#optimize">How to compress NexT files?</a></li>
    <li><a href="#module-not-found">Cannot find module XXX</a></li>
  </ul>
{% endblock %}
