{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}Getting Started - NexT Documentation{% endblock %}
{% block pageName %}getting-started{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-flag-checkered fa"></i> Getting Started
{% endblock %}


{% block pageContent %}
  <section data-folding="getting-started-introduction">
    <p>
      <a href="https://hexo.io/" target="_blank">Hexo</a> is an effective static site generation framework
      based on <a href="https://nodejs.org">Node.js</a>.
      By using Hexo you can easily create posts using Markdown, and besides to Markdown's grammars, you can also use 
      <a href="https://hexo.io/zh-cn/docs/tag-plugins.html" target="_blank">tag plugins</a> provided by Hexo to insert
      special contents easily. Here we assume you have managed to install Hexo and created a site with Hexo's support.
    </p>
    <div class="bs-callout bs-callout-primary">
      You may refer to <a href="https://hexo.io/docs/">Hexo Documentation</a> to get started on Hexo.
    </div>
    <p>
      There is mainly two configuration files in Hexo, they're both named <code>_config.yml</code>.
      One is placed in the root directory of the site which is configuration of Hexo itself;
      the other is under the theme directory (such as <code>themes/next</code> in our case), which is provided by theme
      author and used to configure features of the theme.
    </p>
    <p>
      To make it clear, we'll refer to the first one as <span class="label label-primary">Site Configuration</span>,
      and the latter one <span class="label label-info">Theme Configuration</span>.
    </p>
  </section>

  <section data-folding="installation">
    <h2 class="page-header" id="install-next-theme">Install NexT</h2>
    <p>
      It's very easy to install themes in Hexo. You'll only required to copy the theme files into the
      <code>themes</code> directory and modify the <span class="label label-primary">Site Configuration</span>.
      Specified to NexT, you can follow this instruction:
    </p>

    <h3 id="download-next-theme">Download theme</h3>
    <p>
      If you know about <a href="http://git-scm.com/" target="_blank">Git</a>，
      We recommand you to use Git to clone the latest version and use <code>git pull</code> to update for new versions,
      without downloading zipped source code for new version and replace.
    </p>

    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#clone" aria-controls="clone" role="tab" data-toggle="tab">
            Clone the latest version
          </a>
        </li>
        <li role="presentation">
          <a href="#stable" aria-controls="profile" role="tab" data-toggle="tab">
            Download the stable version manually
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="clone">
          <p>In terminal, change directory to your Hexo site. Use Git to checkout NexT repository:</p>
          {% code %}
            $ cd your-hexo-site
            $ git clone https://github.com/theme-next/hexo-theme-next themes/next
          {% endcode %}
        </div>
        <div role="tabpanel" class="tab-pane" id="stable">
          <ol>
            <li>
              Goto NexT
              <a href="https://github.com/iissnan/hexo-theme-next/releases" target="_blank">release page</a>.
            </li>
            <li>
              Choose your prefer version and download the zip archive of source code. Take version 0.4.0 for example:
              <img src="/uploads/five-minutes-setup/download-stable-version.png"
                    alt="next-releases" class="img-thumbnail  img-responsive"/>
            </li>
            <li>
              Decompress your downloaded archive into the <code>themes</code> subdirectory of your site,
              then rename the decompressed directory (currently named <code>hexo-theme-next-0.4.0</code>)
              to <code>next</code>.
            </li>
          </ol>
        </div>
      </div>

    </div>

    <p class="bs-callout bs-callout-success">
      If you are interested in Git, you can learn it by <em>Pro Git</em>. You may want to refer to this
      <a href="http://iissnan.com/progit">Online Version Pro Git</a>.
    </p>

    <h3 id="activate-next-theme">Enable theme</h3>
    <p>
      Just like any other Hexo theme, after you cloned or downloaded it, modify the <code>theme</code> entry
      in the <span class="label label-primary">Site Configuration</span> to value <code>next</code>.
    </p>
    <div class="next-docs-example">Enable NexT theme</div>
    {% code "yml" %}
      theme: next
    {% endcode %}
    <p>
      Up here, NexT theme should have been correctly installed. Next, we are going to verify whether the theme is
      actually working. After switched the theme to NexT, you should execute <code>hexo clean</code> to clean up
      caches by Hexo, in order to get ready for verification.
    </p>

    <h3 id="validate-next-theme">Verify the installation</h3>
    <p>
      Start serving Hexo site locally with debugging mode (with parameter <code>--debug</code>); the full command
      should be <code>hexo s --debug</code>. In the starting of the service, you should carefully check any error
      messages, which will help locate problems if you face with any. When the command line outputs this:
    </p>
    {% code %}
      INFO  Hexo is running at http://0.0.0.0:4000/. Press Ctrl+C to stop.
    {% endcode %}
    <p>You can now open <code>http://localhost:4000</code> in browser to check if the site is working correctly.</p>
    <p class="bs-callout bs-callout-success">
      If you see similiar appearance to the below picture, you should have correctly installed NexT theme.
      This is the default scheme of NexT, Muse.
    </p>
    <p>
      <img src="/uploads/five-minutes-setup/validation-default-scheme-mac.png" alt="" class="img-responsive"/>
    </p>
    <p>
      Now you've managed to install and enable NexT. Next we're to guide you to tune some theme settings,
      including customization and integration of third-party services.
    </p>
  </section>

  <section data-folding="theme-settings">
    <h2 class="page-header" id="theme-settings">Theme settings</h2>

    <h3 id="select-scheme">Select a scheme</h3>
    <p>
      Scheme is a feature provided by NexT. With the help of scheme, NexT can provide you various appearances.
      In the meantime, almost all settings can be shared between schemes.
      Currently NexT provides three schemes:
    </p>
    <ul>
      <li>Muse - Default scheme. This is the default and initial scheme of NexT with black theme color and large blank areas.</li>
      <li>Mist - Compact version of Muse. It's designed with a neat and clean single-colomn layout.</li>
      <li>Pisces - Dual-colomn layout fresh design.</li>
    </ul>
    <p>
      To switch schemes, you should modify the <span class="label label-info">Theme Configuration</span>.
      Search for keyword <code>scheme</code>, you'll see several lines of scheme settings.
      Enable your expected scheme by remove the <code>#</code> at the starting of the line
      and comment out the other lines, then the corresponding scheme will be enabled.
    </p>
    <div class="next-docs-example">Switch to Pisces scheme</div>
    {% code "yml" %}
      #scheme: Muse
      #scheme: Mist
      scheme: Pisces
    {% endcode %}

    <h3 id="select-language">Switch language</h3>
    <p>
      Modify <span class="label label-primary">Site Configuration</span>, change the <code>language</code> entry to
      your expected language. We recommand you to set the language explicitly. Take English as an example:
    </p>
    {% code "yml" %}language: en{% endcode %}
    <p>Currently supported languages by NexT are listed as below:</p>
    <table class="table table-condensed table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Language</th>
        <th>Code name</th>
        <th>Setting entry</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>English</td>
        <td><code>en</code></td>
        <td><code>language: en</code></td>
      </tr>
      <tr>
        <td>简体中文</td>
        <td><code>zh-Hans</code></td>
        <td><code>language: zh-Hans</code></td>
      </tr>
      <tr>
        <td>Français</td>
        <td><code>fr-FR</code></td>
        <td><code>language: fr-FR</code></td>
      </tr>
      <tr>
        <td>Português</td>
        <td><code>pt</code></td>
        <td><code>language: pt</code> or <code>language: pt-BR</code></td>
      </tr>
      <tr>
        <td>繁體中文</td>
        <td><code>zh-hk</code> 或者 <code>zh-tw</code></td>
        <td><code>language: zh-hk</code></td>
      </tr>
      <tr>
        <td>Русский язык</td>
        <td><code>ru</code></td>
        <td><code>language: ru</code></td>
      </tr>
      <tr>
        <td>Deutsch</td>
        <td><code>de</code></td>
        <td><code>language: de</code></td>
      </tr>
      <tr>
        <td>日本語</td>
        <td><code>ja</code></td>
        <td><code>language: ja</code></td>
      </tr>
      <tr>
        <td>Indonesian</td>
        <td><code>id</code></td>
        <td><code>language: id</code></td>
      </tr>
      <tr>
        <td>Korean</td>
        <td><code>ko</code></td>
        <td><code>language: ko</code></td>
      </tr>
      </tbody>
    </table>

    <h3 id="menu-settings">Configure the menu</h3>
    <p>
      Menu configuration splits into three parts: menu items, text content of menu items and icons of menu contents.
      NexT make use of <a href="http://fontawesome.io/" target="_blank">Font Awesome</a> icons. Font Awesome provides
      more than 600 icons, satisfying most circumstances and won't cause icon blurring on high DPI screens.
    </p>
    <p>Modify following contents of <span class="label label-info">Theme Configuration</span>:</p>
    <ol>
      <li>
        <p>
          Set menu items in <code>menu</code> entry, which should be a list of menu item definitions.
          Menu item should be defined as <code>item name: link</code>, in which <code>item name</code> is the code name
          of the menu item text instead of actually appeared name; it will be used for localized text looking up and
          icon selection.
        </p>
        <div class="next-docs-example">Menu setting example</div>
        {% code "yml" %}
            menu:
              home: /
              archives: /archives
              #about: /about
              #categories: /categories
              tags: /tags
              #commonweal: /404.html
        {% endcode %}
        <p class="bs-callout bs-callout-warning">
          If your site is placed in a subdirectory of your domain, you should remove the leading <code>/</code>.
        </p>
        <p>
          NexT has the following default menu items:
          (items marked <i class="fa fa-exclamation-circle"></i> need manually created pages for them):
        </p>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>Key</th>
              <th>Default setting</th>
              <th>Shown text (in English)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>home</td>
              <td><code>home: /</code></td>
              <td>Home</td>
            </tr>
            <tr>
              <td>archives</td>
              <td><code>archives: /archives</code></td>
              <td>Archives</td>
            </tr>
            <tr>
              <td>categories</td>
              <td><code>categories: /categories</code></td>
              <td>Categories <i class="fa fa-exclamation-circle"></i></td>
            </tr>
            <tr>
              <td>tags</td>
              <td><code>tags: /tags</code></td>
              <td>Tags <i class="fa fa-exclamation-circle"></i></td>
            </tr>
            <tr>
              <td>about</td>
              <td><code>about: /about</code></td>
              <td>About <i class="fa fa-exclamation-circle"></i></td>
            </tr>
            <tr>
              <td>commonweal</td>
              <td><code>commonweal: /404.html</code></td>
              <td>Commonweal 404 <i class="fa fa-exclamation-circle"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <p>
          To set showing text for menu items, you need to set the localized text in the language files in NexT theme
          directory: <code>languages/{language}.yml</code>, in which <code>{language}</code> is the language name
          that you're to add new texts. The name used in previous step will be used for looking up localized text in
          this file.
        </p>
        <p>
          Take English for example. If you want to add a new menu item, e.g., <code>something</code>. You'll need to
          modify the localization file for English, namely <code>languages/en.yml</code>, and add an subentry named
          <code>Something</code> in the menu entry:
        </p>
        {% code "yml" %}
        menu:
          home: Home
          archives: Archives
          categories: Categories
          tags: Tags
          about: About
          search: Search
          commonweal: Commonweal 404
          something: Something
        {% endcode %}
      </li>
      <li>
        <p>
          To set icons for menu items, you should modify the entry <code>menu_icons</code>.
          This entry, similiar to the previous one, should be a list of items like <code>item name: icon name</code>,
          in which <code>item name</code> is the same as in the previous step, and <code>icon name</code> is the name
          of Font Awesome icon. And enable can be used to set whether to show icons; you can modify it to
          <code>false</code> to disable icons.
        </p>
        <div class="next-docs-example">Menu icons setting example</div>
        {% code "yml" %}
          menu_icons:
            enable: true
            # Icon Mapping.
            home: home
            about: user
            categories: th
            tags: tags
            archives: archive
            commonweal: heartbeat
        {% endcode %}
        <p class="bs-callout bs-callout-warning">
          With menu icons enabled, NexT will use <i class="fa fa-question-circle"></i> in case of no available icon set
          for a menu item (no corresponded <code>menu_icons</code> setting given or invalid Font Awesome icon name).
        </p>
        <p class="bs-callout bs-callout-danger">
          Caution: names of keys in <code>menu</code> and <code>menu_icons</code>, e.g. <code>home</code>, should have
          perfectly the same case.
        </p>
      </li>
    </ol>



    <h3 id="sidebar-settings">Configure the sidebar</h3>
    <p>
      By default, sidebar is only shown in post pages with table of contents and placed on right side.
      You can modify the <code>sidebar</code> entry in <span class="label label-info">Theme Configuration</span>
      to tune the behavior of the sidebar. This setting contains two parts: position and when to show.
    </p>
    <ol>
      <li>
        <p>
          To set the position of sidebar, change the value of entry <code>sidebar.position</code>.
          Supported options:
        </p>
        <ul>
          <li>left - on the left side</li>
          <li>right - on the right side</li>
        </ul>
        <p class="bs-callout bs-callout-danger">
          Currently only Pisces scheme supports <code>position</code> configuration.
          This warning applies to <span class="label label-danger">5.0.0</span> and previous versions.
        </p>
        {% code "yml" %}
          sidebar:
            position: left
        {% endcode %}
      </li>
      <li>
        <p>
          To set when to display the sidebar, change the value of entry <code>sidebar.display</code>.
          Supported options:
        </p>
        <ul>
          <li><code>post</code> - default behavior, display only in posts pages</li>
          <li><code>always</code> - display in all pages</li>
          <li><code>hide</code> - hide in all pages (can be opened manually)</li>
          <li><code>remove</code> - totally remove</li>
        </ul>
        {% code "yml" %}
          sidebar:
            display: post
        {% endcode %}
        <p class="bs-callout bs-callout-danger">
          Currently sidebar won't be displayed with <code>use motion: false</code>.
          This warning applies to <span class="label label-danger">5.0.0</span> and previous versions.
        </p>
      </li>
    </ol>


    <h3 id="avatar-setting">Set avatar</h3>
    <p>
      Modify <code>avatar</code> entry in <span class="label label-info">Theme Configuration</span> with value as
      address of your avatar, which can be one of the following:
    </p>
    <table class="table table-condensed table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Address type</th>
        <th>Value example</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Full Internet URI</td>
        <td>
          <code>http://example.com/avatar.png</code>
        </td>
      </tr>
      <tr>
        <td>Link within your site</td>
        <td>
          <p>
            Place your avatar into <code>source/uploads/</code> (create it if not exists)
            <br/>
            and modify the configuration to <code>avatar: /uploads/avatar.png</code>
          </p>
          <p>
            or Place your avatar into <code>source/images/</code>
            <br/>
            and modify the configuration to <code>avatar: /images/avatar.png</code>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="next-docs-example">Avatar setting example</div>
    {% code "yml"%}
      avatar: http://example.com/avatar.png
    {% endcode %}

    <h3 id="author-setting">Set author name</h3>
    <p>
      Modify entry <code>author</code> to expected name in <span class="label label-primary">Site Configuration</span>.
    </p>

    <h3 id="description-setting">Set site description</h3>
    <p>
      Modify entry <code>description</code> to expected description in <span class="label label-primary">Site Configuration</span>.
    </p>
  </section>

  <section data-folding="third-party-services">
    <h2 id="third-party-services" class="page-header">Integrate commonly used third-party services</h2>

    <h3 id="analysis-system-baidu">Baidu Analytics</h3>
    <div class="bs-callout bs-callout-warning">
      Caution: baidu_analytics should not be set to your Baidu id or Baidu Analytics id.
    </div>
    <ol>
      <li>
        Login to <a href="http://tongji.baidu.com/" target="_blank" rel="external">Baidu Analytics</a> and navigate to
        the "getting code" page.
      </li>
      <li>
        Copy the id after <code>hm.js?</code>. For example,
        <img src="/uploads/five-minutes-setup/analytics-baidu-id.png" class="img-thumbnail img-responsive">
      </li>
      <li>
        Modify entry <code>baidu_analytics</code> in <span class="label label-info">Theme Configuration</span>,
        set to the id copied above.
      </li>
    </ol>

    <section data-fodling="leanclound-page-views">
      <h3 id="leanclound-page-views">
        Read time counter (through LeanCloud)
        <small>Contributed by <a href="https://github.com/iissnan/hexo-theme-next/pull/439">Doublemine</a></small>
      </h3>
      <p>
        Please refer to <a href="https://notes.wanghao.work/2015-10-21-%E4%B8%BANexT%E4%B8%BB%E9%A2%98%E6%B7%BB%E5%8A%A0%E6%96%87%E7%AB%A0%E9%98%85%E8%AF%BB%E9%87%8F%E7%BB%9F%E8%AE%A1%E5%8A%9F%E8%83%BD.html#%E9%85%8D%E7%BD%AELeanCloud">Add reading time counter for NexT theme</a>
      </p>
    </section>

    <h3 id="search-system-algolia">Algolia Search</h3>
    <p>
      For detailed information please refer to <a href="/third-party-services.html#algolia-search">Third-party Services: Algolia</a>.
    </p>
  </section>
{% endblock %}


{% block pageSidebar%}
  <ul>
    <li>
      <a href="#install-next-theme">Install NexT</a>
      <ul>
        <li><a href="#download-next-theme">Download theme</a></li>
        <li><a href="#activate-next-theme">Enable theme</a></li>
        <li><a href="#validate-next-theme">Verify the installation</a></li>
      </ul>
    </li>
    <li>
      <a href="#theme-settings">Theme settings</a>
      <ul>
        <li><a href="#select-scheme">Select a scheme</a></li>
        <li><a href="#select-language">Switch language</a></li>
        <li><a href="#menu-settings">Configure the menu</a></li>
        <li><a href="#sidebar-settings">Configure the sidebar</a></li>
        <li><a href="#avatar-setting">Set avatar</a></li>
        <li><a href="#author-setting">Set author name</a></li>
        <li><a href="#description-setting">Set site description</a></li>
      </ul>
    </li>
    <li>
      <a href="#third-party-services">Integrate commonly used third-party services</a>
      <ul>
        <li><a href="#analysis-system-baidu">Baidu Analytics</a></li>
        <li><a href="#leanclound-page-views">Read time counter (through LeanCloud)</a></li>
        <li><a href="#search-system-algolia">Algolia Search</a></li>
      </ul>
    </li>
  </ul>
{% endblock %}
