{% extends './templates/layout/doc.njk' %}

{# S: 页面元数据 #}
{% block documentTitle %}Tag Plugins - NexT Documentation{% endblock %}
{% block pageName %}tag-plugins{% endblock %}
{# E: 页面元数据 #}

{% block pageHeader %}
  <i class="fa-rocket fa"></i> Tag Plugins
{% endblock %}


{% block pageContent %}
  <p>
    Tag plugin is an approach to easily add special forms of contents provided by Hexo.
    For example, in standard Markdown grammars, we cannot specify the size of images.
    In this case, using tags will help. Hexo implements various tags to help authors to write faster;
    you may want to refer to <a href="https://hexo.io/docs/tag-plugins.html" target="_blank">full tags list</a>
    on Hexo official site.
    Also, Hexo provides APIs for themes to make it possible for themes to even more tags support for writers.
    The following tags are currently supported additional tags by NexT.
  </p>

  <section data-folding="tag-centerquote">
    <h2 id="center-blockquote" class="page-header">Center aligned quotes</h2>
    <p>
      This tag will generate a block quote with split lines before and after the quote text, and center align the
      content. When multi-line contents are aligned to center, it will looks asymmetric; so this type of quote is only
      recommanded in case of single line texts, e.g. opening or closing quotes in passages.
    </p>
    <h4 id="center-blockquote-usage">Usage</h4>
    <ul>
      <li>
        Through HTML: Add class <code>class="blockquote-center"</code> to <code>img</code> elements.
      </li>
      <li>
        Through Tags: Use <code>centerquote</code> or abbreviate <code>cq</code>.
      </li>
    </ul>
    <p class="bs-callout bs-callout-warning">
      This tag requires NexT version higher than <span class="label label-warning">0.4.5</span>.
      If you're using versions previous than this, you may use the <code>HTML</code> approach mentioned above.
    </p>

    <div class="next-docs-example">
      <span class="label label-success">"HowTo" in tags</span>
    </div>
    {% code %}
      <!-- Through HTML: Write HTML snippets in Markdown directly -->
      <!-- The class="blockquote-center" attribute is essential -->
      <blockquote class="blockquote-center">blah blah blah</blockquote>

      <!-- Through Tags: NexT version higher than 0.4.5 required -->
      {% raw %}{% centerquote %}blah blah blah{% endcenterquote %}{% endraw %}

      <!-- Abbr. tag name -->
      {% raw %}{% cq %} blah blah blah {% endcq %}{% endraw %}
    {% endcode %}

    <h4 id="center-blockquote-example">Example:</h4>
    <img src="/uploads/tags/blockquote-center.png" alt="Center Blockquote Tag"
         class="img-thumbnail img-responsive center-block">
  </section>

  <section data-folding="tag-fullimage">
    <h2 id="full-width-image" class="page-header">Images breaking container width limit</h2>
    <p>
      When using this tag to show images, the image will be enlarged 26% and grow beyond the width of container.
      This tag is used to highlight image contents: size scaling and container width breaking improves visual impact.
    </p>
    <h4 id="full-width-image-usage">Usage</h4>
    <ul>
      <li>
        Through HTML: Add class <code>class="full-image"</code> to <code>img</code> elements.
      </li>
      <li>
        Through Tags: Use <code>fullimage</code> or abbreviate <code>fi</code>, then specify image address,
        <code>alt</code>and <code>title</code> attributes. Attributes should be separated with commas.
      </li>
    </ul>
    <p class="bs-callout bs-callout-warning">
      This tag requires NexT version higher than <span class="label label-warning">0.4.5</span>.
      If you're using versions previous than this, you may use the <code>HTML</code> approach mentioned above.<br/>
      If you want to show title for image, you should use this element through Tags and specify <code>title</code>
      attribute.
    </p>


    <div class="next-docs-example">
      <span class="label label-success">"HowTo" in tags</span>
    </div>
    {% code %}
      <!-- Through HTML: Write HTML snippets in Markdown directly -->
      <!-- The class="full-image" attribute is essential -->
      <img src="/image-url" class="full-image" />

      <!-- Through Tags: NexT version higher than 0.4.5 required -->
      {% raw %}{% fullimage /image-url, alt, title %}{% endraw %}

      <!-- Abbr. tag name -->
      {% raw %}{% fi /image-url, alt, title %}{% endraw %}
    {% endcode %}

    <h4 id="full-width-image-example">Example:</h4>
    <img src="/uploads/tags/full-image.jpg" class="img-thumbnail img-responsive center-block">
  </section>

  <section data-folding="bootstrap-callout">
    <h2 id="bootstrap-callout" class="page-header">
      Bootstrap Callout
      <small>Contributed by <a href="https://github.com/iissnan/hexo-theme-next/pull/1160">ivan-nginx</a></small>
    </h2>
    <p>These styles are explained in <a href="http://getbootstrap.com/">Bootstrap Official Documents</a>.</p>
    <h4 id="bootstrap-callout-usage">Usage</h4>
    {% code %}
    {% raw %}{% note class_name %} Content (md partial supported) {% endnote %}{% endraw %}
    {% endcode %}
    <p>In this example, <code>class_name</code> can be any of these:</p>
    <ul>
      <li><code>default</code></li>
      <li><code>primary</code></li>
      <li><code>success</code></li>
      <li><code>info</code></li>
      <li><code>warning</code></li>
      <li><code>danger</code></li>
    </ul>
    <h4 id="bootstrap-callout-example">Example:</h4>
    <img src="/uploads/tags/bootstrap-callout.png"
         class="img-thumbnail img-responsive center-block" />
  </section>
{% endblock %}


{% block pageSidebar %}
  <ul>
    <li>
      <a href="#center-blockquote">Center aligned quotes</a>
      <ul>
        <li><a href="#center-blockquote-usage">Usage</a></li>
        <li><a href="#center-blockquote-example">Example</a></li>
      </ul>
    </li>
    <li>
      <a href="#full-width-image">Images breaking container width limit</a>
      <ul>
        <li><a href="#full-width-image-usage">Usage</a></li>
        <li><a href="#full-width-image-example">Example</a></li>
      </ul>
    </li>
    <li>
      <a href="#bootstrap-callout">Bootstrap Callout</a>
      <ul>
        <li><a href="#bootstrap-callout-usage">Usage</a></li>
        <li><a href="#bootstrap-callout-example">Example</a></li>
      </ul>
    </li>
  </ul>
{% endblock %}
